*{
	padding: 0;
	margin: 0;
}

body{

}

.img{
	width: 100%;
}

.img img{
	width: 100%;
}
.logo{
	width:100px;
}

.logo img{
	width: 100%;
}

.ekko-lightbox-nav-overlay a{
    display: none;
}

.ekko-lightbox-container{
	height: 100%!important;
}

.btn-primary{
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
